@import "../../styles/vars.scss";

.Auth-box {
    margin: 0 auto;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    //border: 1px solid yellowgreen;
    .Auth-link {
        width: auto;
        height: 100%;
        text-decoration: none;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        img {
            height: 100%;
            width: auto;
        }
    }
}